@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');


/* Footer PC */
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    min-height: 100vh;

}
footer{
  position:relative;
  width: 100%;
  height: 5%;
  padding: 5px;
  bottom: 0 !important;
  left: 0;
  background-color: #dcdde1;
  color:#4b4c4d;


}
footer .social {
  text-align:center;
  padding-bottom:0;
  position: ;
}

footer .social > a {
  font-size:26px;
  width:45px;
  padding: 2px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:10%;
  border:1.4px solid #ccc;
  margin:0 13px;
  color:inherit;
  opacity:0.80;

}

footer .social > a:hover {
  opacity:0.9;
}
.text-form p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.8em;
}
.change{
  font-size: 17px;
  padding: 3px;
}


/* Footer adaptado a celu*/

@media (width: 980px) { 
footer{
  height: 4%;
  width: 100%;
  padding: 10px;
  bottom: 0 !important;
  left: 0;
  background-color: #dcdde1;
  color:#4b4c4d;


}
footer .social {
  text-align:center;
  padding-bottom:0;
  position: ;
}

footer .social > a {
  font-size:26px;
  width:65px;
  padding: 7px;
  height:55px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:25%;
  border:1.4px solid #ccc;
  margin:0 15px;
  color:inherit;
  opacity:0.80;

}

footer .social > a:hover {
  opacity:0.9;
}
.text-form p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.8em;
}

}