@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Roboto+Mono:ital,wght@1,100&family=Zen+Loop&display=swap');
body{
	background-image: url(fondo.png);
	background-size: 100vw 100vh;
	background-attachment: fixed ;
	margin: 0;
	font-family: 'Otomanopee One', sans-serif;
}

form{
	width: 700px;
	margin: auto;
	background: rgba(0,0,0,0.4);
	padding: 70px 70px;
	box-sizing: border-box;
	margin-top:10em;
	border-radius: 100px;
}
p{
	font-size: 200%;
	font-family: cursive;
	color: black;
	text-align: center;
	margin:1%;
	padding: 100px;
}
h2{
	color: white;
	text-align: center;
	margin: 0;
	font-size: 70px;
	margin-bottom: 20px;
}

input,textarea{
	font-family: 'Otomanopee One', sans-serif;
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	box-sizing: border-box;
	font-size: 17px;
	border: none;
}
textarea{
	background: rgba(0,0,0,0.5);
	border-radius: 30px;
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
	color: #a4b0be;
}
input{
	background: rgba(0,0,0,0.5);
	color: #a4b0be;
}
#boton{
	background: rgba(0,0,0,0.5);
	font-size: 20px;
	color: white;
	padding: 30px;
	border-radius: 20px;

}
#boton:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.8);
}

@media (max-width: 700px){
	form{
		width: 100%;
	}
}
