@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&family=Roboto+Mono:ital,wght@1,100&family=Zen+Loop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
body{
	background-image: url(fondo20.jpg);
	background-size: 100vw 100vh;
	margin: 0;
}

form{

	width: 700px;
	margin: auto;
	border-bottom: white  5px solid;
	border-top: white 5px solid;
	border-right: white 5px solid;
	border-left: white 5px solid;
	padding: 70px 70px;
	box-sizing: border-box;
	margin-top:10em;
	border-radius: 50px;


}
h2{
	font-family: 'Gowun Dodum', sans-serif;
	color: white;
	text-align: center;
	margin: 0;
	font-size: 70px;
	margin-bottom: 20px;
}

input,textarea{
	font-family: 'Gowun Dodum', sans-serif;
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 17px;
	border: none;
}
textarea{
	background: rgba(0,0,0,0.5);
	border-radius: 10px;
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
	color: #a4b0be;
}
input{
	background: rgba(0,0,0,0.5);
	color: #a4b0be;
}
#boton{
	background: rgba(0,0,0,0.5);
	font-size: 20px;
	color: white;
	padding: 30px;
	border-radius: 20px;

}
#boton:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.8);
}






@media (width: 980px) { 


	body{
	background-image: url(fondo20.jpg);
	background-size: 100vw 100vh;
	margin: 0;
	overflow-y:hidden;
}



	form{
	border-bottom: white  5px solid;
	border-top: white 5px solid;
	border-right: white 5px solid;
	border-left: white 5px solid;
	width: 850px;
	height: 750px;
	margin: auto;
	background: rgba(0,0,0,0.2);
	padding: 30px 30px;
	box-sizing: border-box;
	margin-top:22em;
	border-radius: 50px;
	overflow-y:hidden;


}
h2{
	font-family: 'Gowun Dodum', sans-serif;
	color: white;
	text-align: center;
	margin: 0;
	font-size: 120px;
	margin-bottom: 32px;
}

input,textarea{
	font-family: 'Gowun Dodum', sans-serif;
	width: 100%;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 25px;
	border: none;
}
textarea{
	background: rgba(0,0,0,0.2);
	border-radius: 10px;
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
	color: #a4b0be;
}
input{
	background: rgba(0,0,0,0.2);
	color: #a4b0be;
}
#boton{
	background: rgba(0,0,0,0.4);
	font-size: 20px;
	color: white;
	padding: 30px;
	border-radius: 20px;

}
#boton:hover{
	cursor: pointer;
	background: rgba(0,0,0,0.6);
}


}
